{% extends "base.html" %}


{% block sidebar %}


<h3>Search</h3>
{% csrf_token %}
<input type="text" id ="search" name="search"/>

<ul id="search-results">

</ul>

{% endblock %}

{% block content %}


{% if articles.count > 0 %}

{% for article in articles %}
<div>
<h2><a  href="/articles/get/{{article.id}}/">{{article.title}}</a></h2>
<p>Tags: {{ article.tags |lower|truncatewords:"10" }}</p>

<td colspan ='2' ><a type="submit" href="/articles/delete/{{article.id}}">Delete</a></td>

</div>
{% endfor %}

{% else %}

<p>None to show</p>
{% endif %}

{% endblock %}